@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
  font-size: 18px;
  color: hsl(192, 100%, 9%);
}
.container {
  padding: 0;
  width: 90%;
}
header {
  background-image: url("./bg-hero-desktop.svg");
  background-size: cover;
  background-position: center center;
  background-color: hsl(193, 100%, 96%);
  padding: 70px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 3%;
  padding-left: 10%;
  padding-right: 1%;
}
.btn {
  border-radius: 50px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px 60px;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin-top: 10px;
  justify-content: right end;
  transition: 0.2s solid;
  transition-property: background-color, color;
}
.btn:hover {
  color: white;
  background-color: hsl(322, 100%, 66%);
}
.content1 {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.context {
  padding: 5%;
  text-align: justify;
  justify-content: center;
  width: 70%;
  margin: 2em 10%;
  padding: 0% 40px;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
p {
  text-align: justify;
  width: 70%;
  margin: 2em 14%;
  padding: 0;
  margin-top: 1em;
  align-items: flex-start;
  font-family: "Open Sans", sans-serif;
}

.header-img {
  margin-left: 10%;
  width: 100%;
  padding: 0%;
}

.cta {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: justify;
  margin: 14%;
  margin-top: 10px;
  align-items: flex-start;
  transition: 0.2s solid;
  transition-property: background-color, color;
}
.cta:hover {
  color: hsl(322, 100%, 66%);
  background-color: white;
}

.container-box {
  padding: 5%;
}
.box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 150px;
  padding: 60px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.box img {
  width: 60%;
}

.box h2 {
  padding: 5%;
  text-align: justify;
  justify-content: center;
  width: 70%;
  margin: 2em 10%;
  padding: 0% 40px;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
.small-box {
  display: inline-block;
  margin-bottom: -50%;
  position: relative;
  z-index: 1;
  width: 35%;
  left: 30%;
  padding: 20px;
  text-align: center;
  align-content: center;
}
h3 {
  padding: 5%;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: 2em 10%;
  padding: 0% 40px;
  align-content: center;
  font-family: "Poppins", sans-serif;
}

footer{
	position: relative;
	width: 100%;
	height: auto;
	background: hsl(192, 100%, 9%);
    color: white;
    padding-top: 100px;
    padding: 180px 0 60px;
    
}
.footerdiv{
    gap: 50px;
    width: 90%;
    padding-left: 10%;
    display: grid;
    grid-template-areas: "logo1, logo2, logo3, logo4";
    grid-template-columns: repeat(4, 1fr);
    
}
.logo ul li{
    list-style-type: none;
    padding: 10px;
}
.footerdiv ul {
    list-style-type: none;
}
.white_logo {
    padding-bottom: 10%;
}
.icons {
    padding-bottom: 10% ;
}

.logo2 {
    margin: 20%;

}
.logo3 {
    margin: 20%;

}
.logo4 {
    margin:25%;
}
.logo4 .copy{
    padding-left: 5%;
    padding-top: 80%;
    text-align: left;
    width: 300%;
}

@media screen and (max-width: 375px) {
    .logo {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 0%;
        padding: 0%;
    }  
    body {
      text-align: center;
    }
    .header-img {
        margin-top: 48px;
        margin-left: 0;
        width: 375%;
        background-position: center;
    } 
}
   
